body {
  margin: 0;
  font-family: $font-family-sans-serif;
  //color: $uoc-corporate;
  color: #0043b1;
  //background-color: #2fa554;
  background-image: url("https://image.freepik.com/vector-gratis/fondo-confeti_1048-7865.jpg");
  background-size: cover;
}

.hidden {
  display: none;
}

.list {
  padding: 0;
}

.list__item {
  list-style: none;
  margin: 0;
}

img {
  max-width: 210px;
}
//Basic Layout for non-Grid supportng browsers

.header {
  padding: 20px;
  text-align: center;
  background-color: rgba(211, 251, 216, 0.65);
}

.header__image {
  border-radius: 50%;
}

.main-item {
  text-align: center;
  //width: 200px;
  float: left;
  margin: 10px 20px;
}

.main-item__image {
  border-radius: 3px;
}

.section--secondary {
  clear: both;
  text-align: center;
  margin: 20px;
  font-size: 4vw;
  color: #005acd;
  //text-shadow: 2px 2px #9fb540;
  font-weight: bold;
  background-color: #68edcb;
  //margin-bottom: 100px;
  // background-image: url("https://image.freepik.com/vector-gratis/hojas-tropicales-fondo-geometrico_23-2148548945.jpg");
  // background-size: cover;
}

@supports (display: grid) {
  //Undo the basic layout for non-Grid-supporting browsers
  .main-item {
    float: none; //Not neccesary because if a Grid item has a float applied, it just ignores the float
    //width: auto;
    margin: 0;
  }
  //...

  //Grid:
  @media screen and (min-width: 768px) {
    .wrapper {
      display: grid;
      //grid-gap: 20px;
      grid-template-columns: repeat(5, 1fr);
      //grid-template-rows: repeat(5, 1fr);
      //justify-items: stretch;
      //align-items: stretch;
      //max-width: 1800px;
      //margin: auto;
    }

    .header {
      grid-column: 1/-1;
      grid-row: 1/2;
    }

    .section {
      grid-column: 1/4;
      grid-row: span 1;
    }

    .section--secondary {
      grid-column: 1/-1;
    }

    .main-item {
      display: grid;
      width: 80vw;
      justify-content: center;
      //margin: auto;
      grid-template-columns: repeat(3, 1fr);
    }
    .reverse {
      direction: rtl;
    }

    .main-item__title {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: center;
    }

    .main-item__image {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: end;
    }

    .main-item__list {
      grid-column: 3/4;
      grid-row: 1/2;
      align-self: center;
    }
  }
}

// .item {
//   margin: 0;
// }

// .item-title {
//   font-size: 170px;
//   grid-column: span 3;
//   grid-row: span 3;
// }

// .item-main-img {
//   grid-column: span 3;
//   grid-row: span 3;
// }

// .item-music {
//   grid-column: span 3;
//   background-color: purple;
// }

// .item-date {
//   grid-column: 1/-1;
//   background-color: yellow;
//   font-size: 80px;
// }

// .item-img {
//   max-height: 200px;
//   grid-column: 1;
// }

// .item-set-artists {
//   grid-column: span 2;
//   padding: 0;
// }
// .item-artist {
//   list-style: none;
//   border: 1px solid blue;
//   border-radius: 4px;
//   padding: 10px 0;
//   background-color: yellow;
// }

// .item-tickets {
//   font-size: 100px;
//   color: blue;
//   text-shadow: 2px 2px #ff0000;
//   font-weight: bold;
//   grid-column: 7/-1;
//   grid-row: 5/8;
//   background-image: url("https://image.freepik.com/vector-gratis/hojas-tropicales-fondo-geometrico_23-2148548945.jpg");
//   background-size: cover;
// }
